body {
  background-color: #F08080;
}

.content-wrap {
  margin-top: 40px;
}

h1 {
  font-size: 45px;
  color: #fff;
  font-family: 'Lobster', sans-serif;
}

#search {
  width: 300px;
  height: 30px;
  padding-left: 10px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  outline: none;
}

.btn-default {
  margin: 4px;
  margin-top: 10px;
  font-size: 16px;
  border: none;
  color: #fff;
}

.btn-default:hover {
  opacity: 0.9;
  color: #fff;
}

button {
  width: 122px;
  background-color: #F08C00 !important;
  outline: none !important;
}

#randomResult {
  display: inline-block;
  width: 165px;
  background-color: #9ACD32 !important;
  outline: none !important;
}

a {
  display: block;
  margin: 10px;
  padding: 0 50px;
  padding: 20px;
  text-align: justify;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
}

a:hover {
  text-decoration: none;
  color: #000;
  border-left: 4px solid #FF8C00;
}

.title {
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
}

.text {
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
}

ul li {
  list-style-type: none;
}

@media screen and (max-width: 350px) {
  h1 {
    font-size: 35px;  
  }
  
  #search {
    width: 100%;
  }
  
  .title {
    font-size: 18px;
  }
  
  .text {
    font-size: 15px;
  }
}